{% extends "network/layout.html" %}

{% block body %}

    {% block heading %}
    {% endblock %}

    {% for post in page_obj %}
    <div class="border p-3 mb-3">
        <a class="nav-link" href="{% url 'profile' username=post.user.username %}"><b>{{ post.user.username }}</b></a>
        
        <div class="post-content-wrapper">
            <p class="post-content">{{ post.content }}</p>
            {% if request.user.username == post.user.username %}
            <a class="edit-link" href="#">Edit</a>
            {% endif %}
        </div>

        <p id="datetime">{{ post.datetime }}</p>
        <p>&#10084;{{ post.likes }}</p>        
    </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        {{ page_obj.num_pages }}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for page_num in page_obj.paginator %}
                {% if forloop.counter == page_obj.number %}
                <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>

{% endblock %}