{% extends "network/posts.html" %}

{% block heading %}
<h2>{{ username }}</h2>

<p>Followers: {{ followers.count }}</p>
<p>Following: {{ following.count }}</p>

{% if request.user.username != username %}

    {% if is_following %}
        <form action="{% url 'unfollow' username %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary btn-sm" type="submit" value="Unfollow">
        </form>
        <br>
    {% elif is_following == False %}
        <form action="{% url 'follow' username %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary btn-sm" type="submit" value="Follow">
        </form>
        <br>
    {% endif %}

{% endif %}

{% endblock %}