{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ listing.title }}</h2>

{% if listing.category %}
<span class="badge badge-pill badge-info">{{ listing.category }}</span>
{% endif %}

{% if listing.watchlist %}
<span class="badge badge-pill badge-primary">Watchlist</span>
{% endif %}

<p>{{ listing.description }}</p>

{% if listing.image_url %}
<img src="{{ listing.image_url }}" alt="Image of {{ listing.title  }}">
{% endif %}

{% if listing.current_bid %}
<p>Current price: £{{  listing.current_bid  }}</p>
{% else %}
<p>Starting bid: £{{  listing.starting_bid  }}</p>
{% endif %}

{% if user.is_authenticated %}
    {% if listing.watchlist %}
    <form action="{% url 'watchlist_remove' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
    </form>
    {% else %}
    <form action="{% url 'watchlist_add' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Add to Watchlist">
    </form>
    {% endif %}
{% endif %}

{% endblock %}
