{% extends "auctions/layout.html" %}
{% load bootstrap %}

{% block body %}
<h2>{{ listing.title }}</h2>

{% if listing.category %}
<span class="badge badge-pill badge-info">{{ listing.category }}</span>
{% endif %}

{% if listing.watchlist %}
<span class="badge badge-pill badge-secondary">Watchlist</span>
{% endif %}

<p>{{ listing.description }}</p>

{% if listing.image_url %}
<img src="{{ listing.image_url }}" alt="Image of {{ listing.title  }}">
{% endif %}

<p>Listed by: {{ listing.listed_by }}</p>
<p><b>Price: </b>£{{  listing.get_current_price  }}</p>
{% if highest_bid %}
<p>{{ bids }} bid(s). Highest bidder: {{ highest_bid.bidder.username }}</p>
{% else %}
<p>0 bids</p>
{% endif %}


{% if user.is_authenticated %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Make a bid ">
    </form> 

    <br>
    {% if listing.watchlist %}
    <form action="{% url 'watchlist_remove' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-secondary btn-sm" type="submit" value="Remove from Watchlist">
    </form>
    {% else %}
    <form action="{% url 'watchlist_add' listing.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-secondary btn-sm" type="submit" value="Add to Watchlist">
    </form>
    {% endif %}

{% endif %}

{% endblock %}
