{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
      <div class="row">
        {% for listing in watchlist_listings %}
        <div class="col-3">
          <a href="{% url 'listing' id=listing.id %}" class="thumbnail">
            {% if listing.image_url %}
              <img src="{{ listing.image_url }}" alt="Image of {{ listing.title  }}">
            {% endif %}
            <div class="caption">
                <h3>{{  listing.title  }}</h3>
                {% if listing.category %}
                <span class="badge badge-pill badge-info">{{ listing.category }}</span>
                {% endif %}
                <p>£{{  listing.get_current_price  }}</p>
                <p>{{  listing.description  }}</p>
             </div>
          </a>
        </div>
        {% endfor %}
      </div>
{% endblock %}